$firstBlack: #18181b;
$secondBlack: #27272A;
$nativeBlack: #000000;
$greenBlack: #01271C;
$footerBlack:#3f3f46;

$primary: #4cfdc7;
$red: #f43f5e;
$darkgray: #71717a;
$lightgray:#f4f4f5;
$green:#10b981;
$grayborder:#f4f4f5;

$tablet: 1024px;
$mobileL: 768px;
$mobileM: 580px;
$mobileS: 480px;
$mobileXS: 380px;

$br: 4px;
$tablepadding:16px 0px;

@font-face {
    font-family: "regular";
    src: url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
}

@font-face {
    font-family:"bold" ;
    src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
}


* {
    box-sizing: border-box;
}

body {
    font-family: "regular", sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0px 32px;
    margin: 0 auto;
    

}

nav {
    .nav {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            .full_logo {
                display: block;
            }

            .mobile_logo {
                display: none;
            }
        }

        .nav_items {
            display: flex;
            align-items: center;
            gap: 32px;

            .mobile_menu_btn {
                display: none;
            }

            .nav_menu {
                display: flex;
                gap: 32px;

                li {
                    list-style-type: none;

                    a {
                        color: $firstBlack;
                        text-decoration: none;
                    }
                }
            }

            .nav_btns {
                display: flex;
                gap: 8px;

                //#login #signup
                button {
                    border-radius: $br;
                    padding: 9px 17px;
                    cursor: pointer;
                    color: $firstBlack;

                    &#login {
                        border: 1px solid $firstBlack;
                        background: transparent;
                    }

                    &#signup {
                        border: 1px solid $primary;
                        background: $primary;
                    }
                }
            }
        }

        @media screen and (max-width:890px) {
            .logo {
                svg {
                    width: 152px;
                    height: 16px;
                }
            }

            .nav_items {
                gap: 16px;
            }

            .nav_menu {
                gap: 16px;
            }
        }

        @media screen and (max-width:$mobileL) {

            .logo {
                svg {
                    width: unset;
                    height: unset;
                }

                .full_logo {
                    display: none;
                }

                .mobile_logo {
                    display: block;
                }
            }

            .nav_items {
                .nav_menu {
                    display: none;
                }

                .mobile_menu_btn {
                    display: block;
                }
            }

        }

        @media screen and (max-width: $mobileXS) {
            .nav_items {
                .mobile_menu_btn {
                    svg {
                        width: 30px;
                    }
                }

                .nav_btns {
                    button {
                        padding: 6px 12px;
                    }
                }
            }

        }
    }
}

header {
    .header {
        font-size: lexend;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 130px;
        gap: 64px;

        .header_left {
            max-width: 659px;

            h1 {
                font-size: min(71px, max(40px+2));
                font-weight: 400;
                color: $nativeBlack;
            }

            p {
                font-family: lexend;
                margin: 34px 0px;
                max-width: 461px;
                color: $secondBlack;
            }

            .header_left_btns {
                display: flex;
                gap: 16px;
                margin-bottom: 16px;

                a {
                    display: block;
                    padding: 9px 33px;
                    border-radius: $br;
                    text-decoration: none;

                    &:nth-child(1) {

                        background: $primary;
                        color: $greenBlack;
                    }

                    &:nth-child(2) {
                        background: transparent;
                        color: $firstBlack;
                        border: 1px solid $firstBlack;
                    }
                }
            }

            .header_left_stars {
                display: flex;
                align-items: center;
                gap: 8px;
                user-select: none;
                color: $secondBlack;
            }

        }
        @media screen and (max-width:800px){
            gap: 32px;
        }

        @media screen and (max-width:$mobileL) {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            padding-top: 65px;
            gap: 64px;

            .header_left {

                .header_left_btns,
                .header_left_stars {
                    justify-content: center;
                }
            }
        }

        @media screen and (max-width:$mobileS) {
            padding-top: 32.5px;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;

            .header_left {
                .header_left_btns {
                    flex-wrap: wrap;

                    a {
                        width: 100%;
                    }
                }
            }

            .header_right {
                .header_right_img {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

main {
    .markets_section {

        margin-bottom: 128px;


        .markets {
            box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
            border-radius: $br;
            padding: 32px;

            .markets_nav {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 32px;

                h4 {
                    font-weight: 400;
                    color: $darkgray;
                    cursor: pointer;

                    &.active{
                        color: $firstBlack;
                    }

                }
            }

            .markets_table {
                overflow: hidden;
                overflow-x: auto;

                table {
                    border-collapse: collapse;
                    width: 100%;
                   

                    tbody {
             

                        tr {
                            border-bottom: 1px solid $grayborder;

                            th {
                                padding: $tablepadding;
                                text-align: left;
                                color: $firstBlack;
                                font-weight: 400;
                                border-top: 1px solid $grayborder;
                            }

                            td {
                                padding: $tablepadding;
                                color: $firstBlack;
                                font-weight: 400;

                                

                                span {

                                    &.aud{
                                        color: $lightgray;
                                        font-size: 14px;
                                    }
                                    &.up{
                                       color:$green; 
                                    }
                                    &.down{
                                        color: $red;
                                    }
                                }
                                &:nth-child(1)
                                &:nth-child(3){
                                    display: flex;
                                    align-items: center;
                                    gap: 16px;
                                }


                                a{
                                    display: block;
                                    text-decoration: none;
                                    padding: $tablepadding;
                                    background: $primary;
                                    border-radius: $br;
                                    color: $greenBlack;
                                    cursor: pointer;
                                    text-align:center ;
                                    font-size:12px ;
                                    margin: 0px 0px 0px auto;
                                }
                            }
                        }
                    }

                    @media screen and (max-width:$mobileL)
                    {
                        width: 800px;
                        
                    }
                }

            }
            .see_all{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                margin-top: 22px;

                a{
                    color: $firstBlack;
                    text-decoration: none;
                }
            }
            @media screen and (max-width:460px){
               .markets_nav{
                flex-wrap: wrap;
                margin-bottom: 16px;
                gap: 16px;

                h4{
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                }
               } 
               .see_all{
                flex-wrap: wrap;
                svg{
                    width: 100%;
                }

               }
            }
        }
    
        .why_btc_markets{
            
            margin-top: 64px;

            h2{
                text-align: center;
                font-size: min(48px, max(25px + 2vw) );
                font-weight: 400;
                margin: 0;
            }

            .wbm_items{
                display: flex;
                justify-content: center;
                gap: 64px;
                margin-top: 128px;

                .wbm_item{
                    text-align: center;
                    max-width: 250px;

                    .wbm_icon{
                        margin: 32px;
                    }
                    h4{

                        margin: 0;
                        color: $firstBlack;
                        font-weight: 400;
                        font-size: 20px;
                    }

                    p{
                        color: $secondBlack;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                    }
                }

                @media screen and (max-width:$mobileL){
                    flex-wrap: wrap;
                    margin-top: 64px;
                    
                }
            }
        }
    }
    .template_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin-bottom: 128px;

        &:nth-child(odd) {
            .template_section_cover{
                order: 1;
            }
            .template_section_content{
                order: 2;
            }
            @media screen and (max-width:$tablet){
               .template_section_cover{
                order: 2;
               }
               .template_section_content{
                order: 1;
               } 
            }
        }

        .template_section_content{
            flex: 1 1 550px;

            h4{
                font-weight: 400;
                color: $firstBlack;
                font-size: 16px;
                width: 100%;
                text-transform: uppercase;
            }

            h2{
                font-size: min(40px, max(20px + 2vw));
                font-weight: 400;
                color: $firstBlack;
            }

            .template_section_content_items{
                display: flex;
                flex-wrap: wrap;
                margin-top: 64px;
                gap: 32px;

                .template_section_content_item{
                    flex: 1 1 calc(100%/3);

                    h6{
                        font-size: 16px;
                        color: $firstBlack;
                        font-weight: 400;
                        margin: 8px 0px 18px 0px;
                    }

                    p{
                        color: $secondBlack;
                        font-size: 15px;
                        line-height: 24px;
                    }
                }
            }
        }

        .template_section_cover{
            flex: 1 1 550px;

            img{
                display: block;
                width: 100%;
            }
        }

        @media screen and (max-width:$tablet){
            flex-wrap: wrap;

            .template_section_cover{
                img{
                    max-width: 600px;
                    margin: 0 auto;
                }
            }
        }

        @media screen and (max-width:$mobileM){
            .template_section_content{
                h2{
                    text-align: center;
                }
                .template_section_content_items{
                    .template_section_content_item{
                        flex: 1 1 100%;
                        text-align: center;
                    }
                }
            }
        }

    }

    .vip_program_section{
        padding-top: 128px;
        background-color: #fafafa;

        .container{
            .vip_program_content{
                max-width: 710px;
                margin: 0 auto;
                text-align: center;
                color: $firstBlack;

                h4{
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;
                }

                h2{
                    font-weight: 400;
                    font-size: min(40px, max(20px + 2vw));
                    letter-spacing: 0.1px;
                    margin: 16px 0px 32px 0px;
                }

                p{
                    color: $secondBlack;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    margin-bottom: 48px;
                }

                .vip_program_items{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 64px;
                    margin-bottom: 64px;

                    .vip_program_item{
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        h6{
                            font-weight: 400;
                            font-size: 16px;
                            text-transform: capitalize;
                            margin: 0;
                        }
                    }

                    @media screen and (max-width:$mobileL){
                        flex-wrap: wrap;
                    }

                    @media screen and (max-width:$mobileM){
                        gap: 32px;
                    }

                    @media screen and (max-width:$mobileXS){
                       .vip_program_item{
                        gap: 4px;

                        h6{
                            font-size: 15px;
                        }

                       } 
                    }
                }
                a{
                    display: block;
                    text-decoration: none;
                    padding: 9px 36px;
                    color: $firstBlack;
                    border-radius: $br;
                    width: fit-content;
                    margin: 0px auto 64px auto;
                    border: 1px solid $firstBlack;

                    &:hover{
                        background: $greenBlack;
                        border-color: $greenBlack;
                        color: #fff;
                    }
                }
            }

            .vip_program_cover{
                img{
                    display: block;
                    width: 100%;
                }
            }


        }

        @media screen and (max-width:$mobileL){
            padding-top: 64px;
        }
    }



	.tree_easy_steps_section{
		padding-top: 128px;
		padding-bottom: 128px;

		@media screen and (max-width: $mobileL) {
			padding-top: 64px;
			padding-bottom: 64px;
		}

		.tree_easy_steps {
			max-width: 900px;
			margin: 0 auto;

			h2 {
				text-align: center;
				font-size: min(40px, max(20px + 2vw));
				font-weight: 400;
				margin: 0px 0px 64px 0px;
			}

			.tree_easy_steps_items {
				display: flex;
				justify-content: center;
				gap: 64px;
				margin-bottom: 64px;

				.tree_easy_steps_item {
					text-align: center;
					width: 278px;

					.icon {
						padding: 16px;
						background: #FCFBF8;
						width: 72px;
						height: 72px;
						border-radius: $br;
						margin: 0 auto;
					}

					h6 {
						font-weight: 400;
						font-size: 20px;
						text-transform: capitalize;
						margin: 16px 0px;
					}

					p {
						color: $secondBlack;
						line-height: 24px;
						letter-spacing: 0.2px;
						font-size: 15px;
					}
				}

				@media screen and (max-width: $mobileL) {
					flex-wrap: wrap;
				}

				@media screen and (max-width: $mobileM) {
					gap: 32px;
				}
			}

			a {
				display: block;
				text-decoration: none;
				padding: 9px 33px;
				background: $primary;
				color: $greenBlack;
				width: fit-content;
				border-radius: $br;
				margin: 0 auto 32px auto;
				transition: 0.3s;

				&:hover {
					background: $green;
					border-color: $green;
					color: #fff;
				}
			}

			.tree_easy_steps_stars {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				user-select: none;
				color: $secondBlack;
			}
		}
	}

}